<template>
  <div class="hello">
    <form id="demo">
      <!-- text -->
      <h1>{{ msg }}</h1>

      <p>
        <input type="text" v-model="idRequestBooking">
      </p>
      <p>
        <input type="text" v-model="idPlatformCharacter">
      </p>
      <p>
        <input type="text" v-model="namaPlatform">
      </p>
      <p>
        <input type="text" v-model="docType">
      </p>
      <p>
        <input type="text" v-model="termOfPayment">
      </p>
    </form>
    <button v-on:click=msg>SUBMIT</button>

  </div>


</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
    idRequestBooking: String,
    idPlatformCharacter: String,
    namaPlatform: String,
    docType: String,
    termOfPayment: String

  }
  methods
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
